<template>
    <div>
        <main-layout></main-layout>
    </div>
</template>

<script>
import MainLayout from "@/layouts/MainLayout.vue";
export default {
    name: "App",

    components: { MainLayout },

    data: () => ({
        //
    }),
};
</script>
